# Set up
.idea/
.project
*.local.*

# Python
__pycache__/
.pytest_cache/
*.egg-info/
venv/
.venv/

# Environment Variables/Secrets
.env
credentials/
*/credentials/

# Build artifacts
build/

# Runtime databases
*.db
